<div class="publications">
  <p class="note" style="font-size: 0.85rem; color: var(--global-text-color-light); margin-bottom: 0.5rem;">† denotes equal contribution</p>
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
